.App {
  text-align: center;
  background-color: #282c34;
}

.logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 100vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

